<ion-header class="ion-no-border">
  <ion-toolbar color="ufgblue">
    <ion-title>Bienvenida/o</ion-title>
    <ion-button (click)="logout()" slot="end" fill="outline" color="ufgorange">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="profileCard">
    <div class="image-container">
      <img alt="Silhouette" [src]="profile.avatar" class="profile-pic" />
    </div>
    <ion-card-header>
      <ion-card-title class="my-color">{{ profile.name }}</ion-card-title>
      <ion-card-subtitle>{{ profile.email }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Rol: {{ profile.role }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
